<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="podName" source="pod.name"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%15.15thread]) %highlight(%-5level) %cyan(${POD_NAME:-}) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>